* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: bisque;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

a {
  text-decoration: none;
  color: black;
  border: 10px solid red;
}

a:hover {
  color: white;
}

img {
}
